{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
	<h2>Activate New Users</h2>
	<div class="row">
		{% if messages %}
			<div class="alert alert-success" id="myTabContent" >
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
		{% endif %}

		<table class="table table-hover">
			<thead>
				<th>Username</th>
				<th>Date of joining</th>
				<th>Activate</th>
			</thead>
			<tbody>
				{% for row in activate %}
				<tr>
					<td>{{ row.user.username }}</td>
					<td>{{ row.user.date_joined }} </td>
					<td><a href="{% url 'signup-confirm' activation_key=row.activation_key %}">Activate</a></td>
				</tr>
					
				{% endfor %}
				
			</tbody>
		</table>
	</div>
{% endblock %}