{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
	<h2>Add User</h2>
	<div class="row main-form">
		{% if messages %}
		<div class="alert alert-success" id="myTabContent" >
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		</div>
		{% endif %}
		
			<form method="POST" action="{% url 'profile_save' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="col-md-6 form-group">
				    <label>Father Name</label>
				    {{ profileform.father_name }}
				    
				</div>

				<div class=" col-md-6 form-group">
				    <label>Mother Name</label>
				    {{ profileform.mother_name }}
				</div>

				<div class="col-md-6 form-group">
				    <label>Gender</label>
				    {{ profileform.gender }}
				</div>

				<div class="col-md-6 form-group">
				    <label>Date of birth</label>
				    {{ profileform.date_of_birth }}
				</div>

				<div class="col-md-6 form-group">
				    <label>Contact No.</label>
				    {{ profileform.contact }}
				</div>

				<div class="col-md-6 form-group">
				    <label>Profile Image</label>
				    {{ profileform.image }}
				</div>

				<div class="col-md-6 form-group">
				    <label>Address</label>
				    {{ profileform.address }}
				</div>

				<div class="col-md-6 form-group">
				    <label>City</label>
				    {{ profileform.city }}
				</div>
				<div class="col-md-6 form-group">
				    <label>State</label>
				    {{ profileform.state }}
				</div>

				<div class="col-md-6 form-group">
				    <label>PinCode</label>
				    {{ profileform.pincode }}
				</div>
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				
			</form>
		</div>
	</div>

{% endblock %}